.likert-scale-labels {
  display: flex;
  justify-content: space-between;
  margin: 20px 0 10px 0;
  font-size: 0.9rem;
  color: #555;
}

.question-block {
  background: #fdfdfd;
  padding: 20px;
  margin: 10px 0;
  border-radius: 10px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.05);
}

.options-row {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

.circle-option {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.circle-option input {
  display: none;
}

.circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid #ccc;
  transition: all 0.2s ease-in-out;
}

.circle-option input:checked + .circle {
  border-width: 6px;
}

.circle.strongly-disagree { border-color: #f87171; }
.circle.disagree { border-color: #fb923c; }
.circle.neutral { border-color: #d1d5db; }
.circle.agree { border-color: #34d399; }
.circle.strongly-agree { border-color: #10b981; }

.circle-option:hover .circle {
  opacity: 0.8;
}
